/* App.css */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  height: 100vh;
  width: 100vw;
}

.clear,
.clouds,
.fog,
.snow,
.rain,
.drizzle,
.storm {
  display: flex;
  flex-direction: column; /* Ensure items are arranged in a column for all weather types */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #b4faff; /* Default background color */
}

/* Specific background colors for each weather type */
.clear {
  background-color: #b4faff;
}

.clouds {
  background-color: #c0dedf;
}

.fog {
  background-color: #7a7a7a;
}

.snow {
  background-color: #ffffff;
}

.rain {
  background-color: #2f5b80;
}

.drizzle {
  background-color: #288bb3;
}

.storm {
  background-color: #384e5f;
}

.timer {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.night-mode {
  background-color: #2c3e50; /* Darker background for night mode */
  filter: brightness(70%); /* Optional filter for night mode */
}

/* className={isPlaying ? "smallFontTimer" : "largeFontTimer"} */
.largeFontTimer {
  font-size: 60px;
}

.center {
  display: flex;
  justify-content: center; /* Centers the Canvas horizontally */
  align-items: center; /* Aligns the items vertically at the same level */
}

.center canvas {
  flex-shrink: 0; /* Prevent the canvas from shrinking */
  width: 800px; /* Set a fixed width for the canvas */
  height: 600px; /* Set a fixed height for the canvas */
}

.center .description {
  flex-grow: 1; /* Allow the description to take up the remaining space */
  padding-left: 20px; /* Optional: Adds space between the canvas and description */
  max-width: 300px;
  box-sizing: border-box; /* Ensures padding is included in the element's total width */
}

.night-mode * {
  color: white; /* Make all text white in night mode */
}
